.vscode/
build/
.idea
cmake-build-debug/
res/textures/duck.png
res/assets/sponza/
res/assets/water/
res/assets/pool/
res/assets/terrain/
res/assets/monkey.obj
res/assets/grass.png
res/assets/blocks.png
res/assets/skybox
res/assets/crosshair.png
res/assets/vnoise.png
.DS_Store
*/.DS_Store